.card{
    padding-top: 130px;
    background-image: url("./img/noisy-texture-100x100-o28.999999999999996-d100-c-000000-t0.png")
}
.cardName{
    text-align: center;
    color: white;
}
.cardStuff{
    background-color: burlywood;
    text-align: center;
    border-style: ridge;
    margin-top: 35px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    color: white;
    width: 500px;
    height: 400px;
    padding-top: 20px;
   overflow: auto;
}


.card-container{
   
    display: flex;
    justify-content: flex-start;
    height: -webkit-fill-available;
    width: 90%;
    margin-left: 5%;
    background-color:rgba(255,0,0,.45);
    border-left-style: ridge;
    border-right-style: ridge;
    border-top-style: ridge;
    border-width:10px;  
    border-color:#A16B2C;


}
.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flip img {
    width: 300px;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}



#f1_container {
    position: relative;
    margin: 10px auto;
    width: 307px;
    height: 465px;
    z-index: 0;
  }
  #f1_container {
    perspective: 1000;
  }
  #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
  }
  #f1_container:hover #f1_card {
    transform: rotateY(180deg);
   
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    
    color: white;
    text-align: center;
   
  }