.classFilter{
    padding-top: 130px;
    width: 100%;
}

.filter{
    border-radius: 5px;
    background-color: #B15018;
    
    margin: 0 5%;
    border-style: ridge;
    border-width: 2px;
}



.carddisplay{
    height: 100%;
    width: 81vw;
    background-image: url("./img/noisy-texture-100x100-o16-d22-c-e0d07e-t0.png");
    margin: 0 10%;
    border-width:10px;  
    border-left-style: ridge;
    border-right-style: ridge;
    border-color:#A16B2C
}
.cardContain{
   
    width:300px;
    display:inline-block;
}
.glowbox{
    display: block;
    height:100px;
    width:200px
}
