.home{
    padding-top: 130px;
}
.tables{
    margin: 0 10%;
    width: 81vw;
    background-color: burlywood;
    border-width:10px;  
    border-style:ridge;
    border-color:#A16B2C
    
}
.cSet{
    text-align: center;
}