@font-face {
    font-family: "myfont";
    src: url("./bliz-quadrata.woff") format('woff');
}
*{
    font-family:  'myfont';
}
body{
    background-color: #2E2C29;
    background-image: url("./img/noisy-texture-100x100-o20-d55-c-7d2323-t0.png");
    font-family: 'Ceviche One', cursive;
    
}

nav{
    display: inline-block;
}
.hsymbol{
    height: 100px
}
.title{
    font-size: 2em;
    

}

section img{
    height: 400px;
}



.icons{
    height: 10vw;
}


.hover_img a { 
    position:relative; 
}
.hover_img a span { 
    margin: 20px;
    position:absolute; 
    display:none; 
    z-index:99; 
}
.hover_img a:hover span { 
    display:block; 
}
.deckContain{
    display: block;
    
    
    width: 100%;
    height: 40vw;
    background-color: #C19150
}









.cardbox{
    width: 100%;
}

