
        <div class="classFilter">
                        
                        Filter by Class <br>
                        <img class="icons" src="" alt="icon classes">
                    </div>
            
                    <div class="filter">
                        <select>
                                <option value="">--</option>
                                <option value="">Knights</option>
                                <option value="">old gods</option>
                                <option value="">gadget</option>
                                <option value="">basic</option>
        
                        </select>
                        <input type="text" ng-model=" hearthFilter.name" placeholder="name">
                        <input type="text" placeholder="more stuff goes here">
                        <input type="text" placeholder="other stuff goes here">
                        <input type="text" placeholder="stuff">
            
                        <label for="cost">cost</label>
                        <select name="cost" ng-model="hearthFilter.cost" id="cost">
                                <option selected="selected" >0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                           
                    </div>
                    <div class="hover_img">
                            <a href="">Show Image<span><img src="" alt="image" height="100" /></span></a>
                    </div>
                </section>
                <!-- <div ng-repeat="card in expansion">
                    
                    <img class="cardImage" ng-src="{{card.img}}" alt="">
                    <span class="name">{{ hearth.name }}</span>
                    <span>{{ card.type }}</span> <br>
                    <span>{{ card.cost }}</span> <br>
                    <span>{{ card.text }}</span> <br>
                    <span>{{ card.img }}</span> <br>
                    <span>{{ card.mechanics.name }}</span>
                    <hr>
                +</div> -->
                 
               <section class="deckContain" ng-repeat="card in expansion | filter: hearthFilter">
                       
                      <a ui-sref="cardInfo({ id : card.cardId})"><img ng-src="{{card.img}}" alt="{{card.name}}"></a>
            
                
            
            
               </section>
        {{test}}