<div class="filter">
        
    <div >
        <form >
            <input type="text" ng-model=" hearthFilter.name" placeholder="name">
        </form>
    </div>
         
    <div> <label>Cost</label>
        <select ng-model="hearthFilter.cost" class="select-style">
                   
            <option value="0">0 Mana</option>
            <option value="1">1 Mana</option>
            <option value="2">2 Mana</option>
            <option value="3">3 Mana</option>
            <option value="4">4 Mana</option>
            <option value="5">5 Mana</option>
            <option value="6">6 Mana</option>
            <option value="7">7 Mana</option>
            <option value="8">8 Mana</option>
            <option value="9">9 Mana</option>
            <option value="10">10 Mana</option>

        </select>
           
           
             
    </div>
</div>
        
   
   
<section class="carddisplay">
   <div class="cardContain" ng-repeat="card in expansion | filter: hearthFilter">
        <div>
          <a ui-sref="cardInfo({ id : card.cardId})"><img ng-src="{{card.img}}" alt="{{card.name}}"></a>
        </div>
    </div>
</section>
<!-- {{test}} -->