<section>
<h1>Welcome</h1>
{{test}} 

<div>
    <img src="../img/Hearthstone-logo-medium.png" alt="logo">
</div>
<div class= "expansions">
<a ui-sref=""><img src="../img/blackrock.png" alt=""></a>
<a ui-sref=""><img src="../img/explorers.png" alt=""></a>
<a ui-sref=""><img src="../img/Goblins-vs-Gnomes-Logo.png" alt=""></a>
<a ui-sref=""><img src="../img/Journey_to_UnGoro.png" alt=""></a>
<a ui-sref=""><img src="../img/Mean_Streets_of_Gadgetzan.png" alt=""></a>
<a ui-sref=""><img src="../img/old_gods.png" alt=""></a>
<a ui-sref=""><img src="../img/The_Grand_Tournament.png" alt=""></a>
</div>


</section>