<section>
<h1>Welcome</h1>
{{test}} 




<section class="cardback">
    Basic<a ui-sref="basic({ id:basic })"><img src="../img/basic.png" alt=""> </a>
    Clasic<a ui-sref="classic({ id:classic })"><img src="../img/Classic.png" alt=""> </a>
    Hall of Fame<a ui-sref="expans({ id:naxxramas })"><img src="../img/Hall-of-fame.png" alt=""> </a>
    <!-- Naxxramas<a ui-sref="expans({ id: })"><img src="../img/naxxramas.png" alt=""> </a>
    Goblins vs Gnomes<a ui-sref="expans({ id: })"><img src="../img/Card_Back_Goblin.png" alt=""> </a>
    Blackrock Mountain<a ui-sref="expans({ id: })"><img src="../img/Card_Back_MoltonCore.png" alt=""> </a>
    The Grand Tournament<a ui-sref="expans({ id: })"><img src="../img/the-grand.png" alt=""> </a>
    The League of Explorers<a ui-sref="expans({ id: })"><img src="../img/Card_Back_LOE1.png" alt=""> </a>
    Whispers of the Old Gods<a ui-sref="expans({ id: })"><img src="../img/card-back-eye-of-cthun.png" alt=""> </a>
    One Night in Karazhan<a ui-sref="expans({ id: })"><img src="../img/karazhan.png" alt=""> </a>
    Mean Streets of Gadgetzan<a ui-sref="expans({ id: })"><img src="../img/mean-streets.png" alt=""> </a>
    Journey to Un'Goro<a ui-sref="expans({ id: })"><img src="../img/journey_to_un_goro.png" alt=""> </a>
    Knights of the Frozen Throne<a ui-sref="expans({ id: })"><img src="../img/Knights-frozen.png" alt=""> </a> -->
       
    


</section>



<div class= "expansions">
   
</div>


</section>